/* #Pages/00-Fonts# */
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Unica+One');
@import url('https://fonts.googleapis.com/css?family=Montez');

html body {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    background: #29292e url(../TemplateResources/Standard/Aurora/images/background-patterns/3px-tile.png) repeat left top;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    z-index: 1;
}

body h1, body h2, body h3, body h4, body h5, body h6 {
    font-family: 'Unica One', sans-serif;
    text-transform: uppercase;
}

body h1 {
    font-size: 78px;
    line-height: 1;
}

body h2 {
    font-size: 64px;
    line-height: 1;
}

body h3 {
    font-size: 62px;
    line-height: 1;
}

body h4 {
    font-size: 42px;
    line-height: 1;
}

body h5 {
    font-size: 32px;
    line-height: 1;
}

body h6 {
    font-size: 28px;
    line-height: 1;
}

body p {
    font-size: 18px;
    margin: 0 0 20px;
    letter-spacing: 1.2px;
}

body #masterHeader, body footer, body footer p {
    font-size: 14px;
}

#loader {
    width: 200px;
    height: 120px;
    background-image: url(../../images/loading.png);
    top: 50%;
    left: 50%;
    margin-left: -100px;
    margin-top: -60px;
    animation: loading 4s steps(100) infinite;
    position: absolute;
}

@keyframes loading  {
    100% {background-position: -20000px;}
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 }
    to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
    from{ bottom:-100px; opacity:0 }
    to{ bottom:0; opacity:1 }
}

#myDiv {
    display: none;
    text-align: center;
}

.active-app {
    font-size: 13px !important;
    font-weight: bolder;
    border: 2px solid #ffffff;
    background-color: #ecb36e;
    /*box-shadow: inset 0 0 5px #fff;*/
}

.bold {
    font-weight: bold;
}

@media (max-width: 1024px) {
    body h1 {
        font-size: 64px;
        line-height: 1;
    }

    body h2 {
        font-size: 54px;
        line-height: 1;
    }

    body h3 {
        font-size: 52px;
        line-height: 1;
    }

    body h4 {
        font-size: 36px;
        line-height: 1;
    }

    body h5 {
        font-size: 32px;
        line-height: 1;
    }

    body h6 {
        font-size: 28px;
        line-height: 1;
    }

    body p {
        font-size: 18px;
        margin: 0 0 20px;
        letter-spacing: 1.2px;
    }

    body #masterHeader, body footer, body footer p {
        font-size: 14px;
    }
}

h1

@media (max-width: 767px) {
    body h1 {
        font-size: 50px;
        line-height: 1;
    }

    body h2 {
        font-size: 42px;
        line-height: 1;
    }

    body h3 {
        font-size: 40px;
        line-height: 1;
    }

    body h4 {
        font-size: 32px;
        line-height: 1;
    }

    body h5 {
        font-size: 28px;
        line-height: 1;
    }

    body h6 {
        font-size: 26px;
        line-height: 1;
    }

    body p {
        font-size: 18px;
        margin: 0 0 20px;
        letter-spacing: 1.2px;
    }

    body #masterHeader, body footer, body footer p {
        font-size: 14px;
    }
}

body a{
    color: #49c5b6;
}

body a:hover {
    color: #f7ffec;
}


    /* Fontello */
/*@font-face {
    font-family: 'fontello', sans-serif;
    src: url('TemplateResources/Global/Icons/fontello.eot');
    src: url('/TemplateResources/Global/Icons/fontello2552.eot') format('embedded-opentype'),
    url('/TemplateResources/Global/Icons/fontello2552.woff') format('woff'),
    url('/TemplateResources/Global/Icons/fontello2552.ttf') format('truetype'),
    url('/TemplateResources/Global/Icons/fontello2552.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}*/

[class^="sicon-"]:before, [class*=" sicon-"]:before {
    font-family: 'fontello';
    font-style: normal;
}

.sicon-twitter:before {
    content: '\e808';
}

.sicon-pinterest:before {
    content: '\e810';
}

.sicon-facebook:before {
    content: '\e826';
}

.sicon-youtube:before {
    content: '\e81d';
}

.sicon-linkedin:before {
    content: '\e835';
}

.sicon-google:before {
    content: '\e833';
}

.sicon-google-search:before {
    content: '\e833';
}

.sicon-blog:before {
    content: '\e829';
}

.sicon-yelp:before {
    content: '\e800';
}

.sicon-myspace:before {
    content: '\e864';
}

.sicon-foursquare:before {
    content: '\e804';
}

.sicon-flickr:before {
    content: '\e801';
}

.sicon-instagram:before {
    content: '\0028';
}

.sicon-tumblr:before {
    content: '\0029';
}

.sicon-apartmentratingscom:before {
    content: '\0021';
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    margin: 0 !important;
    width: auto !important;
}

.clear {
    clear: both;
}

#popUpWindowDialog #popUpWindowHeader {
    font-family: 'Unica One', sans-serif;
    text-transform: uppercase;
    font-size: 32px;
}

#popUpWindowDialog #popUpWindowText {
    margin: -10px -10px 0 -10px;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

#popUpWindowDialog .divCloseButton {
    float: none;
    position: absolute;
    top: 0;
    right: 0;
}

body .popUpWindowDialog #popBtnClose {
    margin: 0;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    background: #49c5b6 url(../../images/finale.png) no-repeat scroll 9px -631px;
}

.clickToPopUp {
    display: none !important;
}

/* #Pages/01-Header# */
.header-main .container {
    position: relative;
    height: 100%;
}

.header-main img {
    width: 20%;
}

.apartment-details {
    display: inline-block !important;
    margin-top: 0;
    line-height: 20px;
    font-size: 10px !important;
}

.apartment-details span {
    font-size: 13px !important;
}

.apartment-details img {
    width: 25px;
    height: 22px!important;
}

.header-contents {
    position: fixed;
    top: 0;
    z-index: 30;
    width: 100%;
}

.cancellations {
    width: 100%;
    position: relative;
   /* height: 860px;*/
    background: url("../../images/houserules.jpg") no-repeat center;
    padding: 4em 0;
    background-size: cover;
}

.houserules-title {
    font-size: 33px;
    font-weight: bolder;
}

.top-spacer {
    width: 100%;
    height: 185px;
    background: black;
    transition: all .3s ease;
}

.narrow .top-spacer {
    height: 110px;
}

.header-top-bar {
    background: #49c5b6;
    text-align: center;
    z-index: 20;
}

.container a {
    color: #fff;
    text-decoration: none;
    padding: 0 15px;
    display: inline-block;
    line-height: 40px;
    font-size: 13px;
    text-transform: uppercase;
}

.top-link {
    display: inline-block;
    transition: 0.3s;
}

.top-link a {
    transition: 0.3s;
}

.top-link-after:after {
    content: '|';
    width: 2px;
    height: 15px;
    font-size: 22px;

}

@media (max-width: 1199px) {
    .top-spacer {
        height: 228px;
    }

    .narrow .top-spacer {
        height: 128px;
    }

    .top-link {
        font-size: 10px;
        text-transform: uppercase;
    }

    .top-link .hidden-small {
        display: none!important;
    }

    .tooltip2 {
        letter-spacing: 2px;

    }

     span.tooltiptext:hover {

    }


    .tooltip2 .tooltiptext, .tooltip2 .tooltiptext-available {
        left: 0 !important;
        top: 20px!important;
        width: 100%!important;
        font-size: 9px!important;
    }

    .header-top-bar a, .header-top-bar a:hover, .header-top-bar a:focus {
        line-height: 20px;
        padding-bottom: 5px;
    }

    .top-link a em, #_lpChatBtn:before, .top-link .seo-number:before {
        font-style: normal;
        display: block;
        color: #49c5b6;
        font-size: 20px;
        line-height: 26px;
        vertical-align: middle;
        padding-top: 7px;
    }

}

@media (max-width: 450px) {
    .top-link {
        width: 100%!important;
        margin: 0;
        padding: 0;
        display: block!important;
        float: left;
        border-bottom: 1px solid #363636;
    }

    .top-link-after:after {
        content: '';
    }


    .top-link a:hover, #menuElem li a:hover {
        transform: translate(13px, 0px) !important;
        text-decoration: underline!important;
    }
    .page-title {
        font-size: 40px;
        margin-top: 53px;
    }

    .header-top-bar a, .header-top-bar a:hover, .header-top-bar a:focus {
        width: 100%;
        padding: 0 0 5px 0;
        font-size: 12px;
    }
}

.top-specials a {
    background: #29292e;
}

.top-specials a.collapsed {
    background: #1f1f26;
}

#specials-flyout {
    position: relative;
    background: #29292e;
    z-index: 20;
    overflow-y: auto;
}

#specials-flyout .container {
    padding: 2.5em 15px;
}

#specials-flyout .row {
    display: table;
}

#specials-flyout [class*="col-"] {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    float: none;
    position: relative;
}

@media (min-width: 768px) {
    #specials-button-column {
        text-align: right;
    }
}

@media (max-width: 767px) {
    #specials-flyout [class*="col-"] {
        display: block;
        height: auto;
    }
}

#specials-flyout .cta-button {
    text-align: right;
}

.menu-CTAs {
    white-space: normal;
}

.header-main {
    background: #3e3e44;
    color: #fff;
    height: 170px;
    text-align: center;
    box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.3);
    z-index: 20;
    position: relative;
    transition: all .3s ease;
}

.narrow .header-main {
    height: 76px;
}

#propertyLogo {
    height: 170px;
    transition: all .3s ease;
}

#propertyLogo a {
    height: 170px;
    padding: 25px 0;
    display: inline-block;
    transition: all .3s ease;
}

#propertyLogo a img {
    height: 100px;
    transition: all .3s ease;
}

.narrow #propertyLogo {
    height: 76px;
}

.narrow #propertyLogo a {
    height: 76px;
    padding: 8px 0;
}

.narrow #propertyLogo a img {
    height: 60px;
}

@media (max-width: 767px) {
    .header-main, #propertyLogo {
        height: 76px;
    }

    #propertyLogo a {
        height: 76px;
        padding: 8px 0;
    }

    #propertyLogo a img {
        height: 60px;
    }

    .top-spacer {
        height: 134px;
    }
}

.header-main a, .header-main a:hover {
    color: #fff;
    text-decoration: none;
    vertical-align: middle;
    padding: .4em 0;
    cursor: pointer;
}

.header-main a em, .header-main a i {
    color: #49c5b6;
    font-size: 32px;
    vertical-align: middle;
}

.header-main a em.icon-blueprint:before {
    font-weight: bold;
}

.header-FP-Link {
    position: absolute;
    right: 35px;
    top: 55%;
    transform: translate(0, -50%);
}

.header-FP-Link img {
    float: right;
}


.menu-button {
    position: absolute;
    left: 15px;
    top: 55%;
    transform: translate(0, -50%);
}

.header-main a span {
    font-size: 15px;
    padding: 0 10px;
}

.main-menu-container {
    position: fixed;
   /* top: 58px;*/
    left: 0;
    z-index: 26;
    width: 100%;
    max-height: calc(100% - 58px);
    max-height: -moz-calc(100% - 58px);
    max-height: -webkit-calc(100% - 58px);
    opacity: 0;
    overflow-y: auto;
}

.header-rent {
    letter-spacing: 2px;
    word-spacing: 6px;
    margin-top: 15px;
    font-size: 28px!important;
}

.tooltip2 {
    position: relative;
    display: inline-block;
    font-weight: 500;
}

.tooltip2 .tooltiptext {
    visibility: visible;
    width: 90px;
    background-color: red;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 0 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 33;
    left: 45px;
    top: 32px;
    font-size: 10px;
    font-weight: 600;
    line-height: 20px;
}

.tooltip2 .tooltiptext-available {
    visibility: visible;
    width: 90px;
    background-color: #85f050;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 33;
    left: 33px;
    top: 32px;
    font-size: 10px;
    font-weight: 600;
    line-height: 20px;
}

.tooltip2 .tooltiptext {
    visibility: visible;
}

.glyphicon-chevron-custom {
    background: #3e3e3e;
    border-radius: 100px;
    padding: 10px 5px;
    height: 40px!important;
    width: 40px!important;
    font-size: 20px!important;
}

@media (max-width: 767px) {
    .main-menu-container {
        overflow-y: auto;
    }
}

.main-menu-container {
    transition: all .5s ease;
    left: -100%;
}

#menu-flyout {
    width: 100%;
    overflow: visible;
}

.menu-flyout-container {
    width: 100%;
    background: #fff;
    position: relative;
}

.in .menu-flyout-container {
    box-shadow: 5px 10px 25px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 5px 10px 25px 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 5px 10px 25px 3px rgba(0, 0, 0, 0.5);
}

.menu-left .cta-button {
    text-align: left;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 15px;
}

.menu-left {
    text-align: center;
    padding: 2em;
}

header #menuElem {
    list-style: none;
    padding: 2em 0;

}

header #menuElem li {
    font-size: 44px !important;
    font-weight: 400;
    font-family: 'Unica One', sans-serif;
    text-transform: uppercase;
    transition: 0.5s;
}

header #menuElem li a, header #menuElem li:hover {
    transform: translate(13px, 0px) !important;
    color: #1f1f26;
}

.menu-right {
    display: none;
}

.main-menu-container.in {
    left: 0;
    opacity: 1;
}

@media (min-width: 1200px) {
    .main-menu-container {
        top: 40px;
        width: 95%;
        left: -95%;
    }

    .menu-left {
        width: 45%;
        float: left;
        padding: 3em 2em 8em 5em;
        text-align: left;
    }

    .menu-right {
        display: block;
        position: absolute;
        right: 0;
        width: 55%;
        height: 100%;
        background: url(../../images/v3.jpg);
        background-size: cover;
        background-position: center;
    }

    .menu-right:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .3);
    }
}

@media (max-width: 480px) {

}

/* #Pages/02-Home# */
.home-section1 {
    height: 855px;
    width: 100%;
    text-align: center;
    position: relative;
    background: url(../../images/varna.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.home-section7 {
    height: 855px;
    width: 100%;
    text-align: center;
    position: relative;
    background: url(../../images/Basanovich/novi/1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.carousel-custom-background-image {
    background-image: url(../../images/Radulov/13.jpg);
    width: 100%;
    margin-right: 0;
    float: left;
    display: block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.carousel-custom-background-image-1 {
    background-image: url(../../images/Madara/23.jpg);
    width: 100%;
    margin-right: 0;
    float: left;
    display: block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.carousel-custom-background-image-2 {
    background-image: url(../../images/Madara/23.jpg);
    width: 100%;
    margin-right: 0;
    float: left;
    display: block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.carousel-custom-background-image-3 {
    background-image: url(../../images/Radulov/baths1.png);
    width: 100%;
    margin-right: 0;
    float: left;
    display: block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.carousel-custom-background-image-4 {
    background-image: url(../../images/Basanovich/2.jpg);
    width: 100%;
    margin-right: 0;
    float: left;
    display: block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.carousel-custom-background-image-5 {
    background-image: url(../../images/Basanovich/33.jpg);
    width: 100%;
    margin-right: 0;
    float: left;
    display: block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.carousel-custom-background-image-6 {
    background-image: url(../../images/Basanovich/novi/1.jpg);
    width: 100%;
    margin-right: 0;
    float: left;
    display: block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.carousel-custom-background-image-7 {
    background-image: url(../../images/Radulov/14.jpg);
    width: 100%;
    margin-right: 0;
    float: left;
    display: block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.carousel-custom-background-image-8 {
    background-image: url(../../images/varna.jpg);
    width: 100%;
    margin-right: 0;
    float: left;
    display: block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.carousel-custom-background-image-9 {
    background-image: url(../../images/varna.jpg);
    width: 100%;
    margin-right: 0;
    float: left;
    display: block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.carousel-custom-background-image-10 {
    background-image: url(../../images/Basanovich/2.jpg);
    width: 100%;
    margin-right: 0;
    float: left;
    display: block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.carousel-custom-background-image-11 {
    background-image: url(../../images/Basanovich/novi/Basan.jpg);
    width: 100%;
    margin-right: 0;
    float: left;
    display: block;
    background-size: cover;
    background-position: 0px;
    background-repeat: no-repeat;
}

.carousel-custom-background-image-12 {
    background-image: url(../../images/Basanovich/novi/2.jpg);
    width: 100%;
    margin-right: 0;
    float: left;
    display: block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.carousel-custom-background-image-13 {
    background-image: url(../../images/Basanovich/079.jpg);
    width: 100%;
    margin-right: 0;
    float: left;
    display: block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.carousel-custom-background-image-14 {
    background-image: url(../../images/Basanovich/bedroom-basa2.png);
    width: 100%;
    margin-right: 0;
    float: left;
    display: block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.carousel-custom-background-image-15 {
    background-image: url(../../images/Basanovich/inside-bas.png);
    width: 100%;
    margin-right: 0;
    float: left;
    display: block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.carousel-custom-background-image-16 {
    background-image: url(../../images/Basanovich/outside-3.png);
    width: 100%;
    margin-right: 0;
    float: left;
    display: block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}




.home-section-overlay:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
}

.home-section1 .container {
    position: relative;
    height: calc(100% - 100px);
    height: -moz-calc(100% - 100px);
    height: -webkit-calc(100% - 100px);
}

.home-banner-text {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translate(0, -50%);
    padding: 15px;
}

.home-banner-text p {
    font-size: 21px;
}

.mosaic-img:hover {
    transform: scale(1.1);
    z-index: 9999;
}

.mosaic-img {
    transition: 0.5s;
}

@media (max-width: 1199px) {
    .home-section1 .container {
        height: 100%;
    }

    .home-section1 a#scroll-down {
        display: none !important;
    }
}

.home-section1 a#scroll-down {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%, 0);
    color: #fff;
    font-size: 13px;
    cursor: pointer;
    transition: opacity .2s ease;
}

a#scroll-down.faded {
    opacity: 0;
}

.home-section1 a#scroll-down:hover {
    text-decoration: none;
}

.home-section1 a#scroll-down:after {
    content: "";
    width: 20px;
    height: 20px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    display: block;
    transform: rotate(-45deg);
    text-align: center;
    margin: 0 auto;
}

@media (max-width: 900px) {
    .home-section1 {
        height: auto;
    }

    .home-banner-text {
        position: relative;
        width: 100%;
        top: initial;
        transform: translate(0, 0);
        padding: 30px 15px;
    }
}

.cta-button {
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    /*max-width: 100%;*/
    background: #3e3e44;
    color: #49c5b6;
    display: inline-block;
    margin: 10px 0;
}

.cta-button a, .cta-button a:hover, .cta-button a:focus {
    display: block;
    color: #49c5b6;
    text-decoration: none;
    cursor: pointer;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 2px;
    /*HEIGHT: 100%;*/
    width: 100%;
    padding-left: 1.7em;
    padding-right: 3em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
}

/*.cta-button a em {
    position: absolute;
    right: 1.6em;
    line-height: 60px;
}*/

.home-section2-right .background-gallery-container {
    overflow: hidden;
}

.background-gallery .bg-caption-container {
    width: 90%;
    text-align: center;
}

body .background-gallery .bg-bullets {
    width: 90%;
    padding: 0;
    line-height: 1;
    text-align: center;
}

body .background-gallery .bg-bullets li {
    display: inline-block;
    float: none;
    font-size: 36px;
    opacity: .3;
    padding: 0 2px;
    transition: all .3s ease;
}

body .background-gallery .bg-bullets li.bg-selected {
    opacity: 1;
}

@media (max-width: 767px) {
    .background-gallery .bg-caption-container {
        text-align: center;
    }
}

.home-section2-right ul {
    list-style: none;
}

.home-section2-left {
    text-align: center;
}

.home-cta2 {
    padding: 1em 3em 2em;
}

.home-cta, #home-contact-form {
    margin-bottom: 40px;
}

.background-video-container .slides-banner .slides li {
    height: 50vw;
}

body .flex-direction-nav a {
    z-index: 9;
}

@media (min-width: 1200px) {
    .home-section2 {
        height: 520px;
        overflow-y: visible;
    }

    .background-video-container .slides-banner .slides li {
        height: 580px;
    }

    .home-section2-left {
        width: 40%;
        float: left;
        height: calc(100% + 55px);
        height: -moz-calc(100% + 55px);
        height: -webkit-calc(100% + 55px);
        background: #29292e url(../TemplateResources/Standard/3px-tile.png) repeat left top;
        position: relative;
        box-shadow: 5px 3px 25px 3px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 5px 3px 25px 3px rgba(0, 0, 0, 0.5);
        -webkit-box-shadow: 5px 3px 25px 3px rgba(0, 0, 0, 0.5);
        z-index: 1;
    }

    .home-section2-right {
        width: 60%;
        float: right;
        height: 100%;
    }

    .home-cta2 {
        width: 60%;
        position: absolute;
        right: 200px;
        top: 50%;
        transform: translate(0, -50%);
        text-align: left;
    }

    .home-cta2 .cta-button {
        text-align: left;
    }
}

.home-section3 {
    width: 100%;
    position: relative;
}

.home-section3-background {
    width: 100%;
    background: black;
    position: absolute;
    background-image: url(../../images/plaj3.jpg);
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
    background-position: bottom;
    z-index: -1;
}

.basanovich-section3 li {
    width: 100px;
}

.basanovich-section3 li img{
    width: 100%;
}

.basanovich-section3 li span{
    font-size: 14px;
}

.basanovich-section3 .home-cta-group {
    padding-top: 0!important;
}

.basanovich-section3 li {
    display: inline-block;
}

.basanovich-section3 {
    height: 100%;
}


.contact-mobile-form .contactus-float-input-div input {
    padding: 5px 0;
    line-height: 20px;
}

@media (max-width: 767px) {
    .home-section3-background {
        background: url(https://images/v2/dimg/51691106/480x1200/51691106.jpg);
        background-size: cover;
        background-position: center;
        height: 1200px;
    }
}

.home-section3 .container.home-cta-group {
    padding-top: 3em;
}

@media (min-width: 1200px) {
    .container.home-cta-group {
        transform: translate(0, 8em);
    }

    .home-section3 .container.home-cta-group {
        padding-top: 8em;
    }
}

@media (max-width: 1199px) {
    .home-section3-background {
        height: 500px;
    }
}

@media (max-width: 991px) {
    .home-section3-background {
        height: 720px;
    }

    .home-cta-text {
        height: 175px;
    }

    .tooltiptext-available, .tooltiptext {
        visibility: hidden!important;
    }

    .header-FP-Link span {
        visibility: hidden;
    }

}

.cta-img {
    text-align: center;
    overflow: hidden;

}

.cta-img img:hover {
    transform: scale(1.1);
}

.cta-img img {
    width: 100%;
    transition: all .5s ease;

}

.home-cta-text {
    background: #1f1f26;
    height: 175px;
    padding: 2em;
}

@media (max-width: 1199px) and (min-width: 991px) {
    .home-cta-text {
        height: 232px;
    }
}

@media (max-width: 768px) {
    /* .home-cta-text {height: auto;} */
}

@media (max-width: 767px) {
    .home-cta-text {
        height: auto;
        text-align: center;
    }
}

a.home-cta-button {
    color: #49c5b6;
    background: #3e3e44;
    line-height: 60px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    font-weight: 700;
    letter-spacing: 2px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 1.7em;
}

a.home-cta-button:hover {
    color: #49c5b6;
    text-decoration: none;
}

a.home-cta-button span {
    position: relative;
    padding-right: 1.6em;
}

.home-cta-button em {
    position: absolute;
    right: 0;
    line-height: 60px;
}

.cta-form-container {
    background: #1f1f26;
    padding: .5em 2em 0;
}

#home-contact-form #contactusBedBath, #home-contact-form #contactusReason {
    display: none;
}

.contactus-float-input-div {
    position: relative;
}

.contact-mobile-form input {
    background: none;
    border-bottom: 2px solid #888888 !important;
    width: 100%;
}

.contactus-float-input-div {
    line-height: 2.2;
}

.contactus-float-input-div span.required-field {
    position: absolute;
    right: 5px;
}

#contactusComments {
    z-index: 1;
}

#contactusComments textarea {
    background: #1f1f26;
    border: none;
    border-bottom: 2px solid #888888;
    height: 40px;
    overflow: hidden;
    width: 100%;
}

.required-info {
    display: none;
}

.cta-form-container {
    min-height: 505px;
    position: relative;
}

.cta-form-container h3 {
    font-size: 50px;
}

.sumbitbutton {
    position: absolute;
    margin: 0 -2em;
    width: 100%;
    bottom: 0;
    text-align: center;
    display: block;
    background: #3e3e44;
}

@media (max-width: 767px) {
    .home-cta2, .home-cta-text, .cta-form-container {
        padding: 1em 15px;
    }

    .sumbitbutton {
        margin: 0 -15px;
    }
}

body .contact-mobile-form input[type=button] {
    line-height: 60px;
    height: initial;
    border: none !important;
    width: 100% !important;
    padding: 0;
    text-transform: uppercase;
    color: #49c5b6;
    font-weight: 700;
    letter-spacing: 2px;
}

.contact-mobile-form input.reqErr {
    border-bottom: 2px solid red !important;
}

.home-section4 {
    width: 100%;
    margin-top: 13em;
}

#section4-right-panel {
    padding: 20px;
    background: rgba(110, 110, 110, 0.4);
}

.home-section4 .gallery-social-widget .gallery-social-images > a {
    display: none;
}

/*.home-section4 .gallery-social-images a:nth-child(-n+6) {
    display: block;
    width: 33.333%;
}*/

.flex {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}


.gallery-social-widget .gallery-social-footer {
    display: none;
}

.home-section4 .gallery-social-widget {
    margin: 0;
}

.gallery-social-hashtag a {
    width: 100% !important;
    text-align: center;
}

.gallery-social-widget .gallery-social-card {
    display: none;
}

.gallery-social-widget .gallery-social-card--hover {
    display: block;
}

#section4-left-panel {
    padding: 1em 2em;
}

#section4-left-panel .home-cta-button {
    display: none;
    margin-top: 1em;
}

#section-4-container {
    position: relative;
    z-index: 1;
}

@media (max-width: 991px) {
    .home-section4 {
        margin-top: 1em;
        text-align: center;
    }

    #section4-left-panel {
        padding: 1em 0 2em;
    }

    #section4-left-panel h3 {
        font-size: 54px;
    }
}

.home-section5 {
    margin-top: -50px;
    height: 810px;
    width: 100%;
    background: #777;
    position: relative;
}

.home-section6 {
    padding: 2.6em 0;
}

.home-section6 .cta-button {
    float: right;
}

/* The Modal (background) */

.column69 {
    float: left;
    width: 25%;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

/* Modal Content */
.modal-content69 {
    position: relative;
    margin: auto;
    padding: 0;
    width: 100%;
    max-width: 1400px;
}

/* The Close Button */
.close69 {
    position: absolute;
    right: 0;
    top: 0;
    padding: 2px 28px 8px;
    font-size: 4em;
    width: auto;
    height: auto;
    background: transparent;
    border: 0;
    outline: none;
    color: #fff;
    z-index: 1000;
}

.close69:hover,
.close69:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

.mySlides {
    display: none;
    width: 100% !important;
    max-width: 105vh !important;
    margin: 0px auto !important;
}

.cursor69 {
    cursor: pointer
}

/* Next & previous buttons */
.prev69,
.next69 {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 80px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.prev69 {
    left: 0px;
}


/* Position the "next button" to the right */
.next69 {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

img69 {
    margin-bottom: -4px;
}

.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}

.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.office-hours-modal-container {
    z-index: initial !important;
}

.contact-main .full-list .office-hours-modal-container {
    padding: 0;
}

@media (min-width: 900px) {
    .home-section6 h6 {
        font-size: 34px;
    }
}

@media (max-width: 767px) {
    .gallery-social-card {
        display: none !important;
    }

    .home-section4 .gallery-social-images a:nth-child(-n+6) {
        width: 50%;
    }

    .home-section6 {
        text-align: center;
    }

    .home-section6 .cta-button {
        float: none;
    }
}

.disclaimerText {
    display: none;
}

/* #Pages/03-Inner-Pages# */
/* #Pages/03-Inner-Pages/00-General# */

::-webkit-input-placeholder {
    color: #1f1f26 !important;
}

::-moz-placeholder {
    color: #1f1f26 !important;
}

::placeholder {
    color: #1f1f26 !important;
}

.inner-page-top {
    padding-top: 3.5em;
    padding-bottom: 3.5em;
    text-align: center;
}

.inner-page-background {
    padding: 4em 0;
    position: relative;
    background: url(https://images/v2/dimg/51691046/1920x1600/51691046.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.inner-page-background-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
}

.inner-page-background .container {
    position: relative;
}

.inner-content-shadow {
    padding: 20px;
    background: rgba(75, 75, 70, 0.6);
    resize: both;
    overflow: auto;
}

.inner-content {
    background: #fff;
    color: #1f1f26;
    padding: 2em;
}

@media (max-width: 767px) {
    .inner-content {
        padding: 2em 15px;
    }

    .inner-content-shadow {
        padding: 15px;
    }
}

.sp-infobox-bot-mobile {
    color: #1f1f26;
}

/* #Pages/03-Inner-Pages/01-Floor-Plans# */

.inner-content.floorplans-main {
    padding: 15px;
}

#floorplans-background {
    background: url(https://images/v2/dimg/51691046/1920x1600/51691046.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.FloorPlansV2 .pagination > .active > a, .FloorPlansV2 .pagination > .active > span, .FloorPlansV2 .pagination > .active > a:hover, .FloorPlansV2 .pagination > .active > span:hover, .FloorPlansV2 .pagination > .active > a:focus, .FloorPlansV2 .pagination > .active > span:focus {
    z-index: auto !important;
}

body .FloorPlansV2 label:before {
    display: none;
}

body .FloorPlansV2 .ac-container article {
    z-index: initial;
}

body .FloorPlansV2 #view-area-floor-plan .view-area-floor-plan ul {
    width: calc(100% - 14px);
}

body .FloorPlansV2 .ac-container .label {
    font-size: 17px;
    height: auto;
    line-height: 30px;
    padding: 5px;
}

body .FloorPlansV2 .rent-filter {
    width: 85px;
}

body .FloorPlansV2 .read-more-fp p {
    font-size: 12px;
}

body .FloorPlansV2 input#datepicker {
    width: 100px;
}

#ui-datepicker-div {
    font-size: 14px;
}

.ui-datepicker-month, .ui-datepicker-year {
    color: #1f1f26 !important;
}

body .FloorPlansV2 .QuoteDetails:before {
    left: 95px;
}

#QuoteDetails input#datepicker2 {
    width: 120px;
    max-width: initial !important;
    padding: 5px 25px 5px 5px !important;
}

body .FloorPlansV2 input#flex-days {
    width: 30px;
    padding: 2px 6px;
    vertical-align: middle;
}

@media (max-width: 991px) {
    body .FloorPlansV2 #sidebar {
        width: 99% !important;
        margin: 0 auto;
        float: none;
    }

    body .FloorPlansV2 #contentarea {
        width: 99% !important;
        margin: 25px auto 0;
        float: none;
    }

    body .FloorPlansV2 #floorplan-video-viewer {
        width: 90%;
    }
}

@media (max-width: 767px) {
    #floorplans-background {
        background: url(https://images/v2/dimg/51691046/480x1200/51691046.jpg) no-repeat;
        background-size: cover;
        background-position: center;
    }

    .FloorPlansV2 #view-area-floor-plan {
        width: 100% !important;
    }

    .FloorPlansV2 #contentarea {
        padding: 0 !important;
    }

    .FloorPlansV2 #floorplan-header {
        padding: 10px 15px !important;
    }
}

@media (max-width: 400px) {
    body .FloorPlansV2 #cont-leftsidebar .img_area {
        width: 100%;
    }
}

.sister-properties-panel {
    padding-bottom: 2em;
}

.sp-container .sp-left-arrow {
    border-bottom: solid 2px #fff;
    border-left: solid 2px #fff;
}

.sp-container .sp-right-arrow {
    border-top: solid 2px #fff;
    border-right: solid 2px #fff;
}

.FloorPlansV3 .filters-container {
    line-height: 40px;
}

.FloorPlansV3 .close {
    opacity: 1 !important;
}

.FloorPlansV3 #topbar .filters-container .ism-dropdown:after {
    top: 0;
}

body .FloorPlansV3 #beds_selector a, body .FloorPlansV3 #baths_selector a {
    padding: 6px 10px;
}

body .FloorPlansV3 #cont-leftsidebar .img_area img {
    width: 100%;
}

body .FloorPlansV3 .fp-switch-tabs .btn-default {
    width: 60px;
}

body .FloorPlansV3 .rent-filter {
    width: 85px;
    border-radius: 0;
    padding: 6px 10px;
    margin: 0;
    line-height: 18px;
    vertical-align: middle;
}

.FloorPlansV3 .availabilityFilter #flex-days {
    padding: 0;
    width: 28px;
    height: 26px;
    margin: -10px 5px 0 -13px;
}

body .FloorPlansV3 #topbar .calendra input {
    padding: 6px 10px;
    line-height: 18px;
}

@media (max-width: 1199px) {
    .FloorPlansV3 .availUnitsBox:after {
        display: none !important;
    }
}

@media (max-width: 1024px) {
    body .FloorPlansV3 #checkboxShowAvailableOnly {
        margin: 2px 5px 2px 0 !important;
    }
}

@media (max-width: 960px) {
    body .FloorPlansV3 #contentarea {
        float: none !important;
    }

    .FloorPlansV3 .standard-menu, .FloorPlansV3 .rent-container, .FloorPlansV3 .calendra, .FloorPlansV3 .dropdown {
        min-height: initial !important;
    }

    body .FloorPlansV3 .butt_area {
        padding-right: 20px;
        padding-left: 0;
        float: right;
    }
}

@media (max-width: 690px) {
    body .FloorPlansV3 .butt_area {
        padding-right: 0;
    }
}

.FloorPlansV3 .availabilityFilter p {
    letter-spacing: initial;
    font-size: 12px;
    line-height: 20px !important;
    vertical-align: middle;
}

.FloorPlansV3 .floorplan-video-header h3 {
    font-size: 20px !important;
}

/* #Pages/03-Inner-Pages/02-Features# */

#features-background-1 {
    background: url(https://images/v2/dimg/51691113/1920x1600/51691113.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

#features-background-2 {
    background: url(https://images/v2/dimg/51691112/1920x1600/51691112.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

body .image-with-pins .map-tooltip {
    padding: 2em 2em 1em;
    text-align: center;
}

.features-widget-2 {
    padding: 0 15px;
}

.features-widget-2 li.tabs-title {
    border: none;
}

@media (min-width: 769px) {
    .features-widget-2 li.tabs-title:first-child {
        margin-left: 0;
    }

    .features-widget-2 li.tabs-title {
        margin: 0 7px;
    }
}

.features-widget-2 .amenities-tabbed-container .tabs li .tabs-link {
    background: #29292e;
    color: #888888;
    padding: 15px;
    transition: all .3s ease;
}

.features-widget-2 .amenities-tabbed-container .tabs-title.is-active > .tabs-link, .features-widget-2 .amenities-tabbed-container .tabs-title > .tabs-link:hover {
    background: #49c5b6;
    color: #fff;
}

@media (max-width: 800px) {
    .features-widget-2 .amenities-tabbed-container .tabs li .tabs-link {
        padding: 10px 15px;
       /* height: 100%;*/
        width: 100%;
    }
}

li.tabs-title {
    background: none !important;
}

.features-widget-2 #example-tabs {
    margin-bottom: 18px;
    border: none;
    text-align: center;
}

ul li {
    list-style-type: none !important;
}

div.large-4 ul li:before,
div.large-6 ul li:before {
    content: '✓';
    padding: 0 5px;
    color: #d58512;
    font-weight: bolder;
}

.features-widget-2 .amenities-tabbed-container .tabs-content {
    background: rgba(255, 255, 255, 0.8);
    color: #1f1f26;
    border: none;
}

.features-widget-2 .view-more-community, .features-widget-2 .view-more-apartment {
    padding: 15px;
    text-decoration: none !important;
}

.features-widget-2 .view-more-community:after, .features-widget-2 .view-more-apartment:after {
    content: "\f178";
    font-family: "FontAwesome";
    margin-left: 10px;
}

.tabs-panel ol {
    list-style-type: none;
}

.tabs-panel ol li {
    float: left;
    text-decoration: none;
    margin: 10px;
}

.tabs-panel ol li span {
    display: block;
    text-align: center;
}

.tabs-panel ul li a {
    color: #1f1f26 !important;
    text-decoration: none !important;
    cursor: pointer;
}

.tabs-panel ul li a:after {
    content: "\f03e";
    font-family: "FontAwesome";
    margin-left: 8px;
    color: #888888;
}

ul.amenities-list-modal, li.apartment-amenity-item {
    color: #1f1f26;
}

.carousel-inner>.item,
.carousel-inner>.item img {
    height: 100%;
}

.item img {
    height: 100%!important;
}

.amenities-tabbed-header h3 {
    font-size: 20px;
}

.amenities-tabbed-header a:hover {
    color: #fff;
    text-decoration: none !important;
}

.tabbed-amenity:hover {
    text-decoration: underline;
    cursor: pointer;
}

@media (max-width: 767px) {
    .features-widget-2 .amenities-tabbed-container .tabs li .tabs-link {
        padding: 6px 15px;
    }
}

/* #Pages/03-Inner-Pages/03-Gallery# */

#gallery-background {
    background: url(../../images/v2/dimg/51691079/1920x1080/51691079.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

#gallery-background .inner-content-shadow {
    padding: 10px;
    resize: horizontal;
    overflow: auto;
}

.inner-content.gallery-main {
    background: transparent;
    padding: 0;
}

@media (min-width: 1025px) {
    #gallery-background .gallerySquareContainer .widget_head {
        margin-bottom: 0;
    }
}

#gallery-background .grid {
    background: transparent;
}

#gallery-background .grid-item {
    background: transparent;
}

.gallerySquareContainer .top-dropdown {
    color: #333 !important;
}

/* #Pages/03-Inner-Pages/04-Neighborhood# */

.inner-content.neighborhood-main {
    padding: 1em;
}

body .venue .venueScore, body .infoBox .infoboxContainer .mapVenueDetails .mapVenueScore {
    background: #49c5b6;
}

body #leftPanelTabs .tabList {
    padding: 0;
}

#leftPanelTabs .tabList li a {
    transition: all .3s ease;
}

body #leftPanelTabs .tabList li a:hover, body #leftPanelTabs .tabList li a.active {
    background: #49c5b6;
    color: #fff;
}

#neighborhood-container * {
    box-sizing: initial;
}

#neighborhood-container #topPanel, #neighborhood-container #topPanel * {
    box-sizing: border-box;
}

#neighborhood-container #topPanel {
    background: #1f1f26 !important;
    padding: 10px 10px 0 10px;
    height: auto;
}

body #topPanel .topPanel-PropertyAddress {
    color: #fff;
}

body #topPanel .topPanel-PropertyAddress span {
    display: inline;
}

body #topPanel .topPanel-PropertyAddress span a {
    font-weight: normal;
    color: #fff;
    text-decoration: none !important;
}

body #topPanel .topPanel-PropertyAddress:before {
    content: "\f041";
    font-family: "FontAwesome";
    color: #fff;
    font-size: 26px;
    vertical-align: middle;
    margin-right: 5px;
}

#topPanel .topPanel-PropertyAddress img {
    display: none;
}

body #topPanel .neighborhood-search-panel, body .rp_n_3_SearchRadius, body #topPanel .topPanel-PropertyAddress {
    float: none;
    display: inline-block;
    height: 48px;
    line-height: 38px;
    margin-right: 15px;
    margin-bottom: 10px;
    border-radius: 2px;
    border: none;
    padding: 5px 10px;
    vertical-align: middle;
}

body .neighborhood-search-panel input.searchTextBox {
    height: 25px;
}

body .neighborhood-search-panel button#btnSearchVenues {
    background: none !important;
}

body .neighborhood-search-panel button#btnSearchVenues:before {
    content: "\f002";
    font-family: "FontAwesome";
    color: #1f1f26;
    font-size: 24px;
    vertical-align: middle;
}

body .neighborhood-search-panel button#btnSearchVenues {
    width: initial;
    height: initial;
    overflow: initial;
    text-indent: 0;
    margin: 0;
    font-size: 0;
    vertical-align: middle;
    line-height: 32px;
    padding: 0;
}

@media (min-width: 1046px) {
    #neighborhood-container #leftPanel {
        width: 35%;
        padding-right: 1%;
    }
}

@media (max-width: 960px) {
    #neighborhood-background .inner-content-shadow {
        padding: 0;
    }

    body #neighborhood-container {
        margin-top: 0;
    }

    body #neighborhood-container #topPanel .neighborhood-search-panel,
    body #neighborhood-container .rp_n_3_SearchRadius {
        background: #fff;
    }

    body #neighborhood-container .neighborhood-search-panel button#btnSearchVenues {
        position: initial;
        top: initial;
        right: initial;
    }

    body #neighborhood-container #topPanel .topPanel-PropertyAddress {
        padding: 5px 10px;
        margin-bottom: 0;
    }

    .inner-page-top {
        padding-top: 2.5em;
        padding-bottom: 2.5em;
    }

    body #neighborhood-container #topPanel {
        margin-bottom: 8px !important;
    }
}

body #neighborhood-container input, body #neighborhood-container select {
    color: #1f1f26 !important;
    height: 25px !important;
    padding: 0 5px !important;
}

#topLeftSide label {
    margin-bottom: 0;
}

@media (max-width: 767px) {
    #neighborhood-container #topLeftSide {
        font-size: 14px;
    }

    body .neighborhood-search-panel label, body #neighborhood-container .rp_n_3_SearchRadius label {
        display: inline-block;
    }

    body #neighborhood-container .rp_n_3_SearchRadius {
        float: none !important;
        margin-left: 15px;
    }

    input#txtSearchQuery {
        margin-left: 5px !important;
        margin-right: 5px !important;
    }

    select#dropSearchRadius {
        margin-left: 5px !important;
    }

    body #topPanel .neighborhood-search-panel, body .rp_n_3_SearchRadius, body #topPanel .topPanel-PropertyAddress {
        height: 40px;
        line-height: 31px;
    }

    #neighborhood-container .rp_n_3_SearchRadius, body .neighborhood-search-panel button#btnSearchVenues {
        line-height: 30px !important;
    }
}

@media (max-width: 680px) {
    body #topPanel .neighborhood-search-panel, body .rp_n_3_SearchRadius, body #topPanel .topPanel-PropertyAddress {
        width: 100% !important;
        margin: 0 !important
    }

    body #topPanel .neighborhood-search-panel {
        margin: 0 0 10px !important;
    }

    body .neighborhood-search-panel button#btnSearchVenues {
        float: none !important;
        margin-top: -5px !important;
    }

    body .rp_n_3_SearchRadius {
        max-width: initial !important;
    }
}

@media (max-width: 480px) {
    body #topPanel .neighborhood-search-panel, body .rp_n_3_SearchRadius, body #topPanel .topPanel-PropertyAddress {
        height: auto !important;
    }

    body #neighborhood-container .neighborhood-search-panel input.searchTextBox {
        width: calc(100% - 60px);
        width: -moz-calc(100% - 60px);
        width: -webkit-calc(100% - 60px);
    }

    body .neighborhood-search-panel label {
        width: 100%;
    }

    body #topLeftSide input {
        margin-left: 0 !important;
    }

    body #neighborhood-container #dropSearchRadius {
        width: auto;
    }

    body #neighborhood-container #topPanel .neighborhood-search-panel, body #neighborhood-container .rp_n_3_SearchRadius {
        padding: 3px 5px !important;
    }
}

/* #Pages/03-Inner-Pages/05-Contact# */

#contact-background {
    background: url(https://images/v2/dimg/51691047/1920x1600/51691047.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.contact-main .office-hours-list {
    border: none !important;
    margin: 0;
    padding: 0;
    color: #1f1f26;
    font-size: 16px;
}

.contact-main .oh-header {
    display: none !important;
}

#contact-us-left .spacer {
    height: 20px;
}

.contact-main h4 {
    color: #49c5b6;
    text-transform: uppercase;
}

#contact-left-phone, #contact-left-phone a.seo-number, #contact-left-phone a.seo-number:hover {
    color: #1f1f26;
    text-decoration: none;
    font-weight: bold;
}

#contactUsEnhancedContainer {
    clear: both;
}

#contactUsEnhancedContainer .form-group {
    margin-bottom: 50px;
}

@media (min-width: 768px) {
    #usersourceDiv {
        margin-top: -1.7em;
    }
}

#respondDiv label {
    width: 120px;
}

.respondRadios {
    display: inline-block;
}

.respondRadios input[type=radio] {
    line-height: normal;
    -moz-appearance: none;
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid #1f1f26;
    vertical-align: middle;
    background: white;
    margin-top: -3px;
    cursor: pointer;
    transition: background .3s ease;
}

.respondRadios input[type=radio]:checked {
    background: #49c5b6;
}

#contactUsEnhancedContainer .form-control#comments {
    padding-top: 4px;
    height: 34px;
}

#contactUsEnhancedContainer .form-control {
    border: none;
    border-bottom: 2px solid #333;
    border-radius: 0;
    box-shadow: none;
    color: #1f1f26;
    padding: 0;
    font-size: 18px;
    background: #fff;
}

#contactUsEnhancedContainer .form-group label {
    font-weight: 500;
}

#contactUsEnhancedContainer::placeholder {
    color: #1f1f26;
}

#moveDateDiv label {
    width: 120px;
}

#moveDateDiv input {
    width: calc(100% - 125px);
    width: -moz-calc(100% - 125px);
    width: -webkit-calc(100% - 125px);
    display: inline-block;
}

#requiredNotation {
    display: none;
}

#contact-right .required-group:before {
    left: -10px;
}

.page-contact .validate-field {
    border-bottom: 2px solid red !important;
}

@media (min-width: 768px) and (max-width: 991px) {
    #contact-right .col-md-6 {
        width: 50%;
        float: left;
    }
}

@media (max-width: 991px) {
    #contact-us-left {
        text-align: center;
    }

    #contact-right .col-md-6,
    #contactUsEnhancedContainer .form-control {
        font-size: 16px;
    }

    #contactUsEnhancedContainer .form-group {
        margin-bottom: 36px;
    }
}

#btnEnhSubmit {
    text-decoration: none;
    background: #49c5b6;
    padding: 1em 2em;
    cursor: pointer;
    color: #fff;
    border: none;
}

/* #Pages/03-Inner-Pages/06-Blog# */

body .page_blog {
    padding: 0;
}

#blog-background {
    background: url() no-repeat;
    background-size: cover;
    background-position: center;
}

body .blog-search-box {
    height: 30px;
}

@media (min-width: 1025px) {
    body .blog-list-item-right, body .blog-details-right {
        width: 180px;
    }

    body .blog-list-item-left, body .blog-details-body {
        width: calc(100% - 200px);
        width: -moz-calc(100% - 200px);
        width: -webkit-calc(100% - 200px);
    }
}

body .blog-list-item-title-container h3 a, body .blog-details-title-container h3 {
    color: #49c5b6 !important;
}

/* #Pages/04-Footer# */
footer {
    background: #3e3e44;
    color: #fff;
    padding: 3em 0;
}

footer img {
    max-width: 20%;
    display: block;
    margin: auto;
}

footer h5 {
    color: #49c5b6;
}

.footerCopyright {
    color: #49c5b6;
    margin-bottom: 10px;
}

#footerLogo1 {
    margin-bottom: 20px;
}

footer .office-hours-modal-container {
    padding: 0;
}

footer .oh-header {
    display: none !important;
}

footer .office-hours-list {
    margin: 0;
    padding: 0;
    border: none;
}

#footerLogo2 a {
    font-size: 22px;
    font-weight: bolder;
    text-align: center;
}

.headerlogo {
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
    margin: 0 20px;
    letter-spacing: 2px;
}

#footerLogo2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

footer #menuEle {
    margin: 0;
    padding: 0;
    list-style: none;
}

#menuEle li a{
    padding: 0 0!important;
    line-height: 20px!important;
    transition: 0.3s;
}

div.span-hover:hover{
    transform: translate(0px, -6px);
}

.span-hover {
    transition: 0.2s;
}

#menuEle li a:hover {
    transform: translate(13px, 0px);
    text-decoration: underline;
}

#date, #txt {
    font-size: 12px;
    word-spacing: 2px;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover, footer a:focus {
    color: #fff;
    text-decoration: none;
}

.social_media a {
    font-size: 22px;
    background: #fff;
    color: #3e3e44;
    height: 40px;
    width: 40px;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    margin-right: 25px;
    margin-bottom: 25px;
    padding: 0 0;
}

footer .social_media a:hover {
    color: #333;
    transform: scale(1.1);
    transition: all .3s ease;
}

.footer-icons > div {
    display: inline-block;
    margin-right: 25px;
}

footer .social_media {
    margin-left: -10px;
    margin-right: -10px;
}

.social_media a {
    margin: 0 10px 20px;
}

body .gallery-social-widget .gallery-social-images > a .gallery-social-card .gallery-social-card-content .gallery-social-hashtag {
    font-size: 2.0rem;
}

body #ADA-HUD-Links a svg {
    fill: #fff;
}

body #ADA-HUD-Links {
    transform: translate(0, 8px);
    margin-right: 0;
}

@media (max-width: 991px) {
    footer {
        text-align: center;
    }

    #footerLogo1, #footerLogo2 {
        margin-bottom: 20px;
        max-width: 100%;
        padding: 0 2%;
        display: block;
    }

    footer .col-md-3.col-sm-5 {
        text-align: left;
    }

    .footer-icons > div {
        display: inline-block;
        margin-right: 10px;
    }

    .footer-icons-right {
        margin-right: 0 !important;
    }

    footer .social_media {
        padding: 0 10px;
    }
}

@media (max-width: 767px) {
    footer, footer .col-md-3.col-sm-5, .col-md-3.col-sm-5 li {
        text-align: center !important;
    }

    #footerLogo1, #footerLogo2 {
        width: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

.modal2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    padding: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(255,255,255,0.7); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content2 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content2, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 1s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close2 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 33px;
    font-weight: bold;
    transition: 1s;
    background-color: #dd764b;
    border-radius: 100px;
    padding: 0 15px !important;
    margin: auto;
}

.close2:hover,
.close2:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content2 {
        width: 100%;
    }
}

#myImg ,#myImg1{
    cursor: pointer;
}

.hosts {
    font-family: 'Montez', cursive;
    font-size: 40px;
    color: #ff8f2b;
}

.host-img img {
    border-radius: 44px;
    margin: 20px;
}

.justified {
    text-align: justify;
}

.columns h6 {
    text-align: center;
}

.host {
    background: url("../../images/hosts1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 183px;
    height: 183px;
    margin: 10px 10px;
    display: inline-block;
    text-align: center;
    transition: all .5s ease;

}

.host1 {
    background: url("../../images/hosts.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 183px;
    height: 183px;
    margin: 10px 10px;
    display: inline-block;
    text-align: center;
    transition: all .5s ease;
}

.host2 {
    background: url("../../images/hosts2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 183px;
    height: 183px;
    margin: 10px 10px;
    display: inline-block;
    text-align: center;
    transition: all .5s ease;
}

.host3 {
    background: url("../../images/hosts3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 183px;
    height: 183px;
    margin: 10px 10px;
    display: inline-block;
    text-align: center;
    transition: all .5s ease;
}

.flex a {
    height: 100%;
    width: 100%;
    transition: all .5s ease;
}

.host:hover, .host1:hover, .host2:hover,
.host3:hover,.host4:hover,.host5:hover {
    transform: scale(1.1)!important;
}

.hoverImage:hover {
    transform: scale(4) translate(20px,0);
    z-index: 1;

}

.hoverImage {
    transition: 1s;
}
